<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 配置自动扫描的包 -->
	<context:component-scan
		base-package="com.sust.swy.crowd.mvc" />

	<!-- 配置视图解析器 -->
	<!-- 拼接公式→前缀+逻辑视图+后缀=物理视图 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/" />
		<!-- 后缀 -->
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 配置基于XML的异常映射 -->
	<bean id="simpleMappingExceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!-- 配置异常类型和具体视图页面的对应关系 -->
		<property name="exceptionMappings">
			<props>
				<!-- 指定异常 -->
				<prop key="java.lang.Exception">system-error</prop>
				<prop key="com.sust.swy.crowd.exception.AccessForbiddenException">admin-login</prop>
			</props>
		</property>
	</bean>

	<!-- 启用注解驱动 -->
	<mvc:annotation-driven />

	<mvc:view-controller
		path="/admin/to/login/page.html" view-name="admin-login" />
	<mvc:view-controller
		path="/admin/to/main/page.html" view-name="admin-main" />
		
	<!-- 注册拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/admin/to/login/page.html"/>
			<mvc:exclude-mapping path="/admin/do/login.html"/>
			<mvc:exclude-mapping path="/secrity/do/logout.html"/>
			<bean class="com.sust.swy.crowd.mvc.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>